@import "reset.css";
@import "animation.css";

body {
  background-color: darkorange;
  display: flex;
  justify-content: center;

  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.eyes {
  position: absolute;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.eye {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border-bottom: 15px solid rgba(204, 84, 37, 0.931);
}

.pupil {
  width: 40px;
  height: 40px;
  background-color: rgb(5, 5, 139);
  border: 20px solid rgb(54, 54, 206);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
